	
	<div class="container" id="container">

    <div class="form-container sign-in-container">
		<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<h1>Sign in</h1>
			<div class="social-container">
				<a  class="social"><i class="fab fa-facebook-f"></i></a>
				<a class="social"><i class="fab fa-google-plus-g"></i></a>
				<a class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email" placeholder="Email" id="email" formControlName="email" />
			<div class="eye">
			<input  [type]="pass ? 'text' : 'password'" placeholder="Password"   id="password" formControlName="password"/>
			<a (click)="toggleShow()">
				<i [ngClass]="pass ? 'fa fa-eye-slash' : 'fa fa-eye'"	></i>
			</a>
			</div>
			<a>Forgot your password?</a>
			<button >Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" routerLink="/signup" >Sign Up</button>
			</div>
		</div>
	</div>
</div>

