<div class="container" id="container">

	<div class="form-container sign-in-container">
		<form action="" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
			<h1>Create Account</h1>
			<div class="social-container">
				<a class="social"><i class="fab fa-facebook-f"></i></a>
				<a class="social"><i class="fab fa-google-plus-g"></i></a>
				<a class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			<div class="row">
				<input type="text" class="col-6 namefirst" id="firstname" formControlName="firstname"
					placeholder="FirstName" required />
				<input type="text" class="col-6 name" id="lastname" formControlName="lastname" placeholder="LastName"
					required />
			</div>


			<input type="email" placeholder="Email" id="email" formControlName="email" required />
			<div class="eye">
				<input [type]="pass ? 'text' : 'password'" placeholder="Password" id="password"
					formControlName="password" required />
				<a (click)="toggleShow()">
					<i [ngClass]="pass ? 'fa fa-eye-slash' : 'fa fa-eye'"	></i>
				</a>

			</div>
			<div class="eye">

				<input [type]="confirmpass ? 'text' : 'password'" placeholder="Confirm Password" id="confirmpassword"
					formControlName="confirmpassword" />
				<a (click)="toggleconfirm()">
					<i [ngClass]="confirmpass ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
				</a>
			</div>

			<button [disabled]="signupForm.invalid">Sign Up</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" routerLink="/login">Sign In</button>
			</div>
		</div>
	</div>
</div>